https://github.com/mgrzybek/ansible-ha-cluster,/etc/ansible/roles/github/ansible-ha-cluster,master
https://github.com/mgrzybek/ansible-ha-storage,/etc/ansible/roles/github/ansible-ha-storage,master
https://github.com/mgrzybek/ansible-bootstrap-system,/etc/ansible/roles/github/ansible-bootstrap-system,master
https://github.com/mgrzybek/ansible-nomad,/etc/ansible/roles/github/ansible-nomad,master
https://github.com/mgrzybek/ansible-consul,/etc/ansible/roles/github/ansible-consul,master
